.show-count {
  background-color: #ededff;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
